body {
    background-color: #1e1e1e;
    color: white;
}

.fs-vh-title {
    font-size: 3vh;
    color: white;
}


.text-box-font {
    font-size: 7vh;
    font-weight: 600;
    color: white;
}


.fn-btn-style {
    width: 10vh;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    font-size: 1.5vh;
    border-radius: 4px;
    background-color: #2d2d2d;
    border: 1px solid #3f3f3f;
    color: white;
}

.fn-btn-style:hover {
    background-color: #3a3a3a;
    color: white;
}


.fn-drop-style {
    /* padding: 15px; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8vh;
    background-color: #2d2d2d;
    border: 1px solid #3f3f3f;
    color: white;
}

.fn-drop-style:hover {
    background-color: #3a3a3a;
}


.grid-btn-style {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
    font-size: 2.5vh;

    background-color: #2b2b2b;
    border: 1px solid #3f3f3f;
    color: white;
}



.offcanvas {
    background-color: #252525 !important;
    color: white;
}

.offcanvas-header {
    border-bottom: 1px solid #3f3f3f;
}

.offcanvas-title {
    color: white;
}


.btn-close {
    filter: invert(1);
}


.offcanvas .btn {
    color: white;
}

.offcanvas .btn:hover {
    background-color: #3a3a3a;
}


.dropdown-menu {
    background-color: #2d2d2d;
    border: 1px solid #3f3f3f;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    background-color: #3a3a3a;
    color: white;
}

.tri-btn-style {
    width: 10vh;
    height: 10vh;
    background-color: #2d2d2d;
    color: white;
}

.tri-drop-style {
    background-color: #2d2d2d;
    border: 2px solid white;
}